$main-color: #4998f6;
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  @media screen and (min-width: 415px) {
    min-width: 1200px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "iconfont"; /* project id 2289733 */
  src: url("//at.alicdn.com/t/font_2289733_xj5hw2s3o4.eot");
  src: url("//at.alicdn.com/t/font_2289733_xj5hw2s3o4.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_2289733_xj5hw2s3o4.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_2289733_xj5hw2s3o4.woff") format("woff"),
    url("//at.alicdn.com/t/font_2289733_xj5hw2s3o4.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_2289733_xj5hw2s3o4.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.severedTitle {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #5f5f5f;
  text-align: center;
  &::after,
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;
    width: 34%;
    top: 50%;
    background-color: #848484;
  }
  &::after {
    left: 10%;
  }
  &::before {
    right: 10%;
  }
  @media screen and (max-width: 414px) {
    &::after,
    &::before {
      width: 22%;
    }
  }
}

.swiperImg {
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    height: 500px;
  }
}
